nav.navbar {
  color:white;
  .nav-link, .navbar-brand {
    color:white;
  }
}
a, a:hover {
  text-decoration: none;
}
body {
  background: white;
}
[data-toggle=collapse]{
  position: relative;
  cursor: pointer;
  &:after{
    display: block;
    content:"";
    width: 0;
    border-top: 12px solid;
    height: 0;
    border-left: 8px solid transparent;
    border-right:8px solid transparent;
    position: absolute;
    right: 15px;
    top: calc(50% - 6px);
    transition: 0.6s ease-out;
  }
  &[aria-expanded=true]:after{
    transform: rotate(180deg);
    color:$primary;
  }
}

.card-table{
  .row {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    > div img{
      max-width: 100%;
    }
    &.header > div {
      font-weight: 700;
    }

  }
}
.text-right {
  text-align: right;
}

.form-control.error{
  border-color:red;
}


.listing-single-row{
  display: flex;
  .image {
    flex: 0 0 50%;
    position: relative;
    img {
      width: 100%;
    }
    .price-overlay {
      color:white;
      position: absolute;
      bottom: 8px;
      right: 8px;
      padding: 5px 10px;
      border-radius:5px;
      background: $primary;
    }
  }
  .content {
    flex: 0 0 50%;
    .title {
      background: $primary;
      padding: 8px 16px;
      font-size: 22px;

      color:white;
      border-bottom-right-radius: 5px;
    }
    .sections {
      padding: 0 16px;
      .section {
        padding: 8px 0;
        line-height: 24px;
        font-size: 18px;
        color:#777;

        .icon {
          width: 24px;
          height: 24px;
          vertical-align: middle;

        }
        span {
          margin-left: 8px;
          vertical-align: middle;
        }
        border-bottom: 1px solid #eee;
      }
    }
  }




  @media(max-width: 767px){
    display: block;
    margin-top: 24px;
    border-bottom: 2px solid $primary;
  }
}

@media(min-width: 768px) {

  a:nth-child(even) > .listing-single-row {


    .image {
      order: 2;
    }

    .content {
      order: 1;

      .title {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 5px;
      }
    }
  }
}

.page-title{

    margin-top: 16px;
    text-transform: uppercase;
    color:#666;
    border-bottom: 1px solid $primary;
  margin-bottom: 16px;
}
.notif-count {
  display: inline-block;
  border-radius:50%;
  background: white;
  width: 20px;
  height: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;

  &.active {
    background: red;
    color:white;
  }
}
.notification-item {
  position: relative;
  padding: 8px;
  border-bottom: 1px solid #eee;
  .date {
    font-size: 10px;
    text-align: right;
  }
  .text {
    font-weight: 500;
    color:black;
  }
  &.active:after {
    position: absolute;
    right: 4px;
    top:50%;
    width: 8px;
    height: 8px;
    background: red;
    border-radius:50%;
    content:"";
    display: block;
  }
}
.popular-locations {
  background: $primary;
  padding: 50px 5%;
  h2 {
    color:white;
    text-align: center;
    padding-bottom: 24px;
  }
  .content {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .popular-location{
      flex: 1 0 30%;
      min-width: 200px;
      height: 200px;
      position: relative;
      h5 {
        color:white;
        padding: 20px;
        background: rgba(0,0,0,0.5);
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        text-align: center;
        transform: translateY(-50%);
      }
    }
  }
}